<div id="container" ng-controller="QuestionsController">
  <h2 style="text-align: center">Would You Rather</h2>
  <ul>
    <div ng-repeat="question in questions">
      <div class="row">
        <div class="col-md-1 col-md-offset-2" style="text-align: right">{{question.votes1}} votes</div>
        <div class="col-md-3 btn question-left" ng-click="clickChoice(question.id, 1)"> {{question.choice1}} </div>
        <div class="col-md-3 btn question-right" ng-click="clickChoice(question.id, 2)"> {{question.choice2}} </div>
        <div class="col-md-1" style="text-align: left">{{question.votes2}} votes</div>
      </div>
      <br><br>
    </div>
  </ul>
</div>